*.dSYM/

read_fixed_len_pages
random_heapfile
example_page_file
/library.o
/experiment_fixed_len_sizeof
/write_fixed_len_pages
/csv2heapfile
/scan
/insert
/update
/delete
/select
/csv2colstore
/select2
/select3

/.ipynb_checkpoints/
/venv/
.venv
